
body {
      margin-left: 75px;
      margin-right: 50px;
      
    }

#map {
  margin-top: 40px;
}

#control-panel {
  display: flex;
  position: relative;
}



.buttons{
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  margin: 4px;
  text-decoration: none;
}

.button-default {
  background: #e6e4dd;
  background-image: -webkit-linear-gradient(top, #e6e4dd, #ababab);
  background-image: -moz-linear-gradient(top, #e6e4dd, #ababab);
  background-image: -ms-linear-gradient(top, #e6e4dd, #ababab);
  background-image: -o-linear-gradient(top, #e6e4dd, #ababab);
  background-image: linear-gradient(to bottom, #e6e4dd, #ababab);
}

.button-select {
  background: #f08d4a
}



div.unitTitle {
  margin: 5px 0px 5px 5px;
  padding: 30px 0px 30px 0px;
}

div.unitButtons {
  margin: 5px;
  padding: 25px 0px 30px 0px;
}

div.comparisonTitle {
  margin: 5px 0px 5px 30px;
  padding: 30px 0px 30px 0px;
}

div.comparisonButtons {
  margin: 5px;
  padding: 25px 0px 30px 0px;
}



.country:hover {
    stroke: yellow !important;
    stroke-width: 2px !important;
    transition-duration: 3s !important;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(179, 107, 0, 0.5);
  color: #fff;
  border-radius: 8px;
}

/* the actual legend svg-g element needs to be silenced for whatever reason? */
.legend path {
  display: none;
}