
body {
      margin-left: 75px;
      margin-right: 50px;
      
    }

#map {
  margin-top: 50px;
}

div.unitTitle {
  position: absolute;
  top: 1120px;
  left: 90px;
  font-size: 18px;
  font-weight: bold;
}

div.unitButtons {
  position: absolute;
  top: 1140px;
  left: 75px;
  font-size: 18px;
}

div.unitButtons div {
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  background-color: LightGray;
  padding: 5px;
  margin: 15px;
}

div.comparisonTitle {
  position: absolute;
  top: 1320px;
  left: 90px;
  font-size: 18px;
  font-weight: bold;
}

div.comparisonButtons {
  position: absolute;
  top: 1340px;
  left: 75px;
  font-size: 18px;
}

div.comparisonButtons div {
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  background-color: LightGray;
  padding: 5px;
  margin: 15px;
}

.country:hover {
    stroke: yellow !important;
    stroke-width: 2px !important;
    transition-duration: 3s !important;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(179, 107, 0, 0.5);
  color: #fff;
  border-radius: 8px;
}

/* the actual legend svg-g element needs to be silenced for whatever reason? */
.legend path {
  display: none;
}